<div class="text-center">
<<<<<<< HEAD
    <img src="../assets/spaghetti-1932466_960_720.jpg" class="rounded" alt="No image">
=======
    <img src="/images/spaghetti-1932466_960_720.jpg" class="rounded" alt="...">
>>>>>>> 5ff87ddebc1c60784c6d96b508da804f5ea6e7cd
</div>

