<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


{{> recipeList }}

<div class="row">
  <button id="create-btn" class="btn" href="/recipe_input">CREATE</button>
</div>