<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

{{> recipeList }}

    <div class="col-md-6">
        
        <h4><a href="/recipe/{{recipes.id}}">{{recipes.name}}</a></h4>
            {{!-- <p>{{recipe_instructions}}</p> --}}

    </div>


</div>