
<div class='row'>
  <div class='container' id="background-font">
    <h4 style="text-align: center;">Welcome, {{name}}!</h4>
  </div>
</div>

<div class="col-md-12">
{{> recipeList }}
</div>

<div class="row justify-content-center p-5">
  <a class="btn btn-sm btn-danger" href="/recipe_input">Create New</a>

</div>