<div class='row justify-content-center'>
  <div class='col-auto text-center'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{> recipeList }}

<div class="row justify-content-center p-5">
  <a class="btn btn-sm btn-danger" href="/recipe_input">Create New</a>
</div>