



<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    
 {{> recipeList }}
    
    <div class="col-md-12">
        <h3>Create a New Recipe:</h3>

        <form class="form new-recipe-form">
            <div class="form-group">

                <label for="recipe-name">Recipe Name:</label>
                <input type="text" name="recipe-name" id="recipe-name"/>

                
                <div id="ingredient-container">
                    <div>
                    <label for="ingredient-name0">Ingredient:</label>
                    <input type="text" name="ingredient" id="ingrident-name0" class="ingredient-name" />
                
                    <label for="number-input0">Number:</label>
                    <input type="number" id="number-input0" name="number" class="number-input"/>
                
                    <label for="unit-input0">Units:</label>
                    <input list="unit-options0" name="unit" id="unit-input0" class="unit-input" />
                    <datalist id="unit-options0">
                        <option value="tsp">
                        <option value="tbsp">
                        <option value="cup(s)">
                        <option value="qt">
                        <option value="gal">
                        <option value="lb">
                        <option value="oz">
                        <option value="pinch">
                        <option value=" ">
                    </datalist>
                    </div>
                </div>
                {{!-- <div id="ingredient-container"></div> --}}
                
                <button id="add-ingredient">Add Another Ingredient</button>

                <div id="step-container">
                <label for="recipe-instructions">Instructions:</label>
                <input class="form-input" type="text" id="recipe-steps" name="step" />
                </div>
                {{!-- <div ></div> --}}
                <button id="add-step">Add Step</button>


                <button id='create-recipe' type="submit" class="btn btn-primary">Create</button>
            </div>

            {{!-- <div class="form-group">
                
            </div> --}}

            <div class="form-group">
            </div>

        </form>
    </div>

    
</div>

<script src="./js/recipe-input.js"></script>