




<div class="row">
    <div class="container" id="background-font">
        <h4 style="text-align: center;">Welcome, {{name}}!</h4>
    </div>
</div>

<div class="row mt-4">
        <div class="col-md-6" >
            <div class="container" id="recipe-list-input">
            {{> recipeList }}
        </div>
    </div>
    
    <div class="col-md-6" id="background-font" >
        <h3>Create a New Recipe:</h3>

        <form class="form new-recipe-form">
            <div class="form-group">

                <label for="recipe-name">Recipe Name:</label>
                <input type="text" name="recipe-name" id="recipe-name" class="recipe-input"/>

                
                <div class="container" id="ingredient-container">
                    <div>
                    <label for="ingredient-name0">Ingredient:</label>
                    <input type="text" name="ingredient" id="ingrident-name0" class="ingredient-name recipe-input" />
                
                    <label for="number-input0">Number:</label>
                    <input type="number" id="number-input0" name="number" class="number-input recipe-input num-units"/>
                
                    <label for="unit-input0">Units:</label>
                    <input list="unit-options0" name="unit" id="unit-input0" class="unit-input recipe-input num-units" />
                    <datalist id="unit-options0">
                        <option value="tsp">
                        <option value="tbsp">
                        <option value="cup(s)">
                        <option value="qt">
                        <option value="gal">
                        <option value="lb">
                        <option value="oz">
                        <option value="pinch">
                        <option value=" ">
                    </datalist>
                    </div>
                </div>
                {{!-- <div id="ingredient-container"></div> --}}
                
                <button id="add-ingredient" class="btn btn-danger">Add Another Ingredient</button> 

                <div id="step-container">
                <label for="recipe-instructions">Instructions:</label> <br>
                <input class="recipe-input" type="text" id="recipe-steps" name="step" />
                </div>
                {{!-- <div ></div> --}}
                <button id="add-step" class="btn btn-danger">Add Another Step</button>

                <div class="row justify-content-center">
                   <button id='create-recipe' type="submit" class="btn btn-danger">Create</button> 
                </div>
                
            </div>

            {{!-- <div class="form-group">
                
            </div> --}}

            <div class="form-group">
            </div>

        </form>
    </div>

    
</div>

<script src="./js/recipe-input.js"></script>